.top-bar {
	min-height: 90px;
    line-height: 58px;
    margin-bottom: 0;
    background-color: #FBFDDD;
	background: #FFF; /* Old browsers */
	color: #000;
}
.title-area img{
	position: relative;
}
.top-bar-section {
	padding-top: 45px;
	color: #000; 
}
.has-dropdown {
	background-color: #db4437;
}
.has-form{
	background-color: #fff!important;
}
.has-form button {
	min-height: auto;
}
.top-bar-section li a:not(.button) {
	background-color: #FFF!important;
	color: #000!important;
}
.top-bar-section li a:not(.button):hover {
    background-color: #FFF!important; /*example */
    color: #fe2f1b!important;
}
.container {
	padding-top: 10px;
}
