.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body{
	font-family:"Varela Round";
	background: url('../images/plaid2.png') repeat;
}
body *{
	font-family:"Varela Round";
}
.top-bar {
    background-color: #fff;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);
    height:90px;
    z-index: 999;
    width:100%;
}
.top-bar .name h1 a{
	margin: 0px;
}
.top-bar img{
    position: relative;
}
.top-bar-section {
	padding: 27px 0px 26px 0px;
	color: #000;
	width:33.3%;
	display:inline-block;
	height:100%;
}
.top-bar-section.left{
	padding:10px 10px 10px 25px;
}

.top-bar-section.right{
	padding: 0 0 0 0;
}
.top-bar-section.right .dropdown-label{
	margin-top: 40px;
	margin-right: 5px;
	padding-top:20px;
	height: 50px;
	float:right;
	width:30%;
	line-height:normal;
	text-align:center;
	background: #EB0000;
	color: #fff;
	display: block;
}
#drop li {
	width: 100%;
	color: #fff;
}	
#drop li a {
	background-color: #EB0000;
}
#drop li a:hover {
	background-color: #BF0000;
}
#search-bar{
	width:70%;
	top:0;
	display:inline-block;
}
#search-button{
	top: 2.5;
	width:29%;
	height:37px;
	display:inline-block;
	padding:10px 0px 5px;
	background-color: #EB0000;
	font-family: "Varela Round";
}
#suggest-button {
	position: absolute;
	
}

.button:active {
	background-color: #EB0000;
}
.suggest-wrapper{
	text-align: center;
	
}
.top-bar-section.center {
	text-align:center;
}
.button{
	background-color: #EB0000;
	font-family: "Varela Round";
}
.button:hover{
	background-color: #FFFFFF;
	font-family: "Varela Round";
	color: #EB0000;
	box-shadow: 0px 1px 4px rgba(0.4, 0.4, 0.4, 0.4);
}
.side-nav{
	background:#fff;
	width: 100%;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
	padding:5px;
	overflow:auto;
	height:100%;
}
.content {
	width:100%;
	position:absolute;
	margin:0 0 0 0;
	top:90px;
	bottom:0;
}
.content div.row{
	margin:0 0 0 0;
	width:100%;
	max-width:100%;
}

.side-col {
	padding: 0;
	display:inline-block;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
	width: 20%;
	/*min-width:200px;
	max-width:250px;*/
	height:100%;
}
.result {
	display: inline-block;
	padding: 10px 30px 10px 30px;
	width:100%;
	overflow:auto;
	height: 100%;
	float:left !important;
}
div .panel {
	height: 200px;
	width: 200px;
	background-color: #FFF;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	float:left;
	margin: 20px 0px 0px 20px;
	padding:0px;
	overflow:hidden;
	position:relative;
	
	border:none;
}
div.panel.expanded{
	width: 100%;
}
.panel img{
	width:200px;
}	
.panel.expanded img{
	float:left;
	width:20%;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}

div.panel.expanded>div.recipes{
	float:left;
	width:80%;
	height:200px;
}
.panel.expanded div.recipes h1{
	text-align:center;
	margin: 0px 0px 0px 0px;
	box-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);
	z-index:999;
	height:50px;
}
.panel.expanded div.recipes h1 span{
	font-size:12px;
	float:right;
	padding: 5px;
	cursor:pointer;
}
.panel.expanded div.recipes .recipe-left {
	padding-left: 10px;
}
.panel.expanded div.recipes .recipe-info{
	float:left;
	width:33.3%;
	margin:0;
	top:50px;
	height:150px;
}
.panel.expanded div.recipes.recipe-center{
	float:left;
	width:33.3%;
	margin:0;
	top:50px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}
.panel.expanded div.recipes .recipe-info h2{
	width:100%;
	font-size:20px;
	text-align:center;
	margin:5px 0px 5px 0px;
	display:block;
}
.panel>h2{
	position: absolute;
	z-index: 999;
	bottom: 0px;
	font-size:22px;
	background: rgba(0,0,0,.6);
	color: #FFF;
	height:auto;
	min-height:50px;
	width:200px;
	margin:0;
	font-family:"Varela Round";
	text-align:center;
	padding: 15px 0px 0px 0px;
	cursor:pointer;
}
.panel.expanded>h2{
	height:20px;
}
.content-box {
	background: #fff;
	width: 80%;
	margin-left: 110px;
	margin-top: 75px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.select {
	width: 420px;
	position: absolute;
	height: 100px;
	font-size: 16.9px;
	font-family:"Varela Round";
}
.select-style {
	background: #ffffff repeat scroll right center rgba(0, 0, 0, 0);
	border: 4px solid #EB0000;
	border-radius: 10px;
	display: inline-block;
	padding: 6px 10px;
}
.edit-user-container {
	padding-top: 30px;
	padding-right: 50px;
	padding-left: 50px;
	position: relative;
}
.edit-user-container div.panel {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	height: auto;
}
.edit-user-container div.user-names {
	padding-top: 45px;
}
.edit-user-container div.bottom {
	bottom: 0;
	position: absolute;
}
#ingredient {
	background: #ffffff;
	height: 150px;
	width: 420px;
	border: 4px solid #EB0000;
	border-radius: 10px;
	font-size: 14px;
	font-family:"Varela Round";
	float: left;
}
#ingredients-form p {
	clear: both;
}
.container {
	padding-right: 50px;
	padding-top: 30px;
	padding-left: 50px;
	background-color: #FFFFFF;
}
#name {
	max-width: 200px;
}
#instructions {
	max-width: 500px;
	height: 200px;
}

#time {
	max-width: 150px;
}

#difficulty {
	max-width: 50px;
}

#servings {
	max-width: 100px;
}

