{% extends "base.html" %}

{% block content %}
<div class="column large-6 content-box">
<h1>Sign In</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Please sign in with your Google Account. <br>
        Don't have a Google Account? Create one 
        <a href="https://accounts.google.com/SignUp?service=mail" target="_blank">here</a>.
    </p>
    <p>{{form.remember_me}} Remember Me <br>
    <input type="submit" class="button" value="Log In With Google"></p>
</form>
</div>
{% endblock %}