{% extends "base.html" %}

{% block content %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<h1>Recipe Creation Kit</h1>
<form enctype="multipart/form-data" action="" method="post" name="new_recipe">
    {{form.hidden_tag()}}
    <p>
        Recipe Name: <br>
        {{form.name(size=80)}} <br>
        Instructions: <br>
        {{form.instructions(size=80)}} <br>
        Time (in seconds): <br>
        {{form.time(size=80)}} <br>
        Difficulty (a number from 1 - 10, please): <br>
        {{form.difficulty(size=80)}} <br>
        Servings: <br>
        {{form.servings(size=80)}} <br>
        Ingredients: <br>
        {{selector.ingredient}} <br>
    </p>
    <p>Add a picture for your recipe:</p>
        {% if form.image %}
            <img src="{{form.image}}" alt="">
        {% endif %}
        <br><br>
        {% if filename %}
            <img src="{{recipeimage}}">
        {% endif %}
        <input type="file" name="image">
    </p>
    <input  type="submit" class="button" value="Create Recipe">
    <a href="{{ url_for('new_ingredient') }}" class="button" id="suggest-button">Add an Ingredient</a>
</form>

{% endblock %}