{% extends "base.html" %}

{% block content %}
<h1>Recipe Creation Kit</h1>
<form action="" method="post" name="new_recipe">
    {{form.hidden_tag()}}
    <h3> There is no validity checking atm... you've been warned... </h3>
    <p>
        Recipe Name: <br>
        {{form.name(size=80)}} <br>
        Ingredients: <br>
        {{form.ingredients(size=80)}} <br>
        Instructions: <br>
        {{form.instructions(size=80)}} <br>
        Time: <br>
        {{form.time(size=80)}} <br>
        Category: <br>
        {{form.category(size=80)}} <br>
        Servings: <br>
        {{form.servings(size=80)}} <br>
    </p>
    <p><input type="submit" value="Create Recipe"></p>
</form>
{% endblock %}