{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="columns large-centered large-10 container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>Recipe Creation Kit</h1>
    <form enctype="multipart/form-data" action="" method="post" name="new_recipe">
        {{form.hidden_tag()}}
        <h5>
            Recipe Name: <br>
            {{form.name(size=80)}} <br>
            Instructions: <br>
            {{form.instructions(size=80)}} <br>
            Time (in minutes): <br>
            {{form.time(size=80)}}<br>
            Difficulty (a number from 1 - 10, please): <br>
            {{form.difficulty(size=80)}} <br>
            Servings: <br>
            {{form.servings(size=80)}} <br>
            Ingredients: <br>
            <div style="float:right; padding-right:400px;">
                <p>Can't find an ingredient for your recipe?</p>
                <a href="{{ url_for('new_ingredient') }}" class="button" id="suggest-button">Add Ingredient</a>
            </div>
            {{selector.ingredient}}
            <br>
        </h5>        
        <p>Recipe Image(.jpg only):<input type="file" name="image"></p>
        <input id="suggest-button" type="submit" class="button" value="Create Recipe">
    </form>
    </div>
</div>

{% endblock %}