{% extends "base.html" %}

{% block content %}
	
	<div class="row">    
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
      
      <!-- <h1>Recipe Stuff</h1> -->
      
      <dl class="tabs" data-tab>
          <dd class="active"><a href="#panel1">{{user.first_name}}'s Recipes</a></dd>
		  <dd><a href="#panel2">Recipes {{user.first_name}} Likes</a></dd>
		  <dd><a href="#panel3">Recipes Suggested for {{user.first_name}}</a></dd>
	  </dl>
		<div class="tabs-content">
		
		<div class="content active" id="panel1">
			<p>{{user.first_name}}'s Recipes</p>
			{% for result in user_recipes %}
				<div class="panel">
					<img src="../../uploads/recipe_images/{{result.name}}.jpg">
					<h2>{{ result.name }}</h2>
					<div class="recipes">
						<div class="recipe-left recipe-info"><h2>Ingredients</h2></div>
						<div class="recipe-center recipe-info"><h2>Details</h2></div>
						<div class="recipe-right recipe-info"><h2>Other</h2></div>
					</div>
				</div>
			{% endfor %}
		  </div>
		
		  <div class="content" id="panel2">
			<p>Recipes {{user.first_name}} Likes</p>
			{% for result in user_likes %}
				<div class="panel">
					<img src="../../uploads/recipe_images/{{result.name}}.jpg">
					<h2>{{ result.name }}</h2>
					<div class="recipes">
						<div class="recipe-left recipe-info"><h2>Ingredients</h2></div>
						<div class="recipe-center recipe-info"><h2>Details</h2></div>
						<div class="recipe-right recipe-info"><h2>Other</h2></div>
					</div>
				</div>
			{% endfor %}
		  </div>
		  
		  
		  <div class="content" id="panel3">
			<p>Recipes Suggested for {{user.first_name}}</p>
			{% for result in user_suggested %}
				<div class="panel">
					<img src="../../uploads/recipe_images/{{result.name}}.jpg">
					<h2>{{ result.name }}</h2>
					<div class="recipes">
						<div class="recipe-left recipe-info"><h2>Ingredients</h2></div>
						<div class="recipe-center recipe-info"><h2>Details</h2></div>
						<div class="recipe-right recipe-info"><h2>Other</h2></div>
					</div>
				</div>
			{% endfor %}
		  </div>
		  
		</div>
      
    </div>
    
    
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns">
        
      <ul class="side-nav">
      
      	{% if user.image != "" %}
      		<br><p><img src="{{user.image}}" /></p>
      	{% endif %}
      
    	{% if user.first_name != "" %}
			<li>First name: {{user.first_name}}</li>
		{% endif %}
	
		{% if user.last_name != "" %}
		 	<li>Last name: {{user.last_name}} </li>
		{% endif %}
	
		<li>Email: {{user.email}}</li>
	
		{% if user == g.user%}
			<li><a href="{{ url_for('edit_user') }}">Edit Profile</a></li> <br>
		{% endif %} 
        
		<li><a href="{{ url_for('new_recipe') }}" class="button" id="suggest-button">Make a Recipe</a> </li>
        
      </ul>
        
    </div>
    
  </div>
    
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/templates4/foundation4.js"></script>
    <script>
      $(document).foundation();
      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
	
{% endblock %}